* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #ffffff;
    width: 900px;
    
}

h2 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #000000;
    margin: 1.2rem 2.5rem;
}

legend {
    font-size: 1.1rem;
    font-weight: semi-bold;
    color: #000000;
    margin-bottom: 0.5rem;
    margin-left: 0.5rem;
}

fieldset {
    border: 1px solid #737373;
    background-color: #dbdbdb;
    margin: 0.5rem 1rem;
    padding: 5px;
}

label {
    font-size: 1.0rem;
    color: #232323;
    margin: 0.3rem 0.5rem 0.3rem;


    display: inline-block;
    width: 125px;
    text-align: end;
}

div {
    margin: 0.5rem 0.5rem;
    
}
.form input{
    font-size: 0.9rem;
    color: #272727;
    margin: 0.2rem .6rem 0.4rem;
    padding: 0.5rem 0.2rem;
    border: 1.5px solid #9a9a9a;
    border-radius: 0.4rem;
    width: 250px;
    
    
}

.data input {
    font-size: 0.8rem;
    color: #272727;
    padding: 0.4rem 0.3rem;
    border: 0.1rem solid #9a9a9a;
    border-radius: 0.4rem;
    width: 130px;
    
}

.form select {
    font-size: 0.9rem;
    color: #272727;
    margin: 0.3rem 0.2rem 0.2rem;
    padding: 0.3rem 0.2rem;
    border: 0.1rem solid #9a9a9a;
    border-radius: 0.4rem;
    background-color: #ffffff;
    width: 100px;
}

input[type=file]::file-selector-button {
        border: 1px solid #9a9a9a;
        padding: 0.3em 0.5em;
        border-radius: .4em;
        margin: 0.2rem;
        background-color: #ffffff;
        cursor: pointer;
}
    
#imageP {  
    margin: 0.2rem;
    padding: 0.2rem;
    border: 0;
    width: 350px;
}
 
button {
    font-size: 1.0rem;
    color: #ffffff;
    background-color: #125db3;
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem 0.5rem;
    cursor: pointer;
}
