* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, sans-serif;

    --darkGray: #424242;
    --lightGray: #9a9a9a;
    --green: #1eb283;
    --gray: #d4d4d4;
}

body {
    width: 60%;
    margin: auto;
    background-color: white;
    padding: 0px 20px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

h2 {
    font-size: 30px;
    font-weight: 700 ;
    color: var(--darkGray);
}

hr {
    border-top: 3px solid var(--darkGray);
}

legend {
    font-size: 22px;
    font-weight: 700;
    color: var(--darkGray);
    margin-left: 10px;
    
}

.grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
}

fieldset {
    border: 1px solid var(--lightGray);
    background-color: var(--gray);
    margin: 20px;
    padding: 15px;
}


label {
    color: var(--darkGray);
    font-size: 16px;
    margin: 10px;
    display: inline-block;
    width: 15%;
    text-align: right;
}

.form input, select, #dataN, #imageP::file-selector-button, button {
    padding: 10px;
    border: 1px solid var(--lightGray);
    border-radius: 0.3rem; 
    height: 35px;
}

#imageP::file-selector-button , button{
    cursor: pointer;
}

#dataN {
    cursor: text;
}

#imageP {
    width: 300px;
}

#send {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 130px;
  margin: 10px;
  border-radius:40px;
  background: #fff;
  border: 2px solid var(--green);
  color:var(--green);
  letter-spacing:1px;
  text-shadow:0;
  font-size:12px bold; 
  cursor: pointer;
  transition: all 0.25s ease;
  &:hover {
    color:white;
    background: var(--green);
  }
  &:active {
    letter-spacing: 2px;
    letter-spacing: 2px ;
  }
}
footer {
    display: grid;
    grid-auto-flow: column;
    justify-items: center;
    padding: 10px;
    background: #eeeeee;
    margin: 0px 20px;
}

a:link {color:var(--darkGray);text-decoration:none;}
a:visited {color:var(--green);text-decoration:none;}
a:hover {text-decoration:underline;}