* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: Roboto, sans-serif;



    --darkGray: #424242;
    --lightGray: #9a9a9a;
}


body {
    background-color: #ffffff;
    display: grid;
    justify-content: center;
    margin: 30px;
}

.heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

h2 {
    font-size: 24px;
    font-weight: 700 ;
    color: var(--darkGray);
}

hr {
    border-top: 3px solid var(--darkGray);
}
 
legend {
    font-size: 18px;
    font-weight: 700;
    color: var(--darkGray);
    margin-left: 10px;
}

fieldset {
    border: 1px solid var(--lightGray);
    background-color: #d4d4d4;
    margin: 15px;
    padding: 12px;
}

div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 0.3rem;

}
label {
    font-size: 15px;
    font-weight: 500;
    align-self: center;
    color: var(--darkGray);
    margin: 8px;
}

.form input, select, #dataN, #imageP::file-selector-button, button {
    padding: 5px;
    border: 1px solid var(--lightGray);
    border-radius: 0.3rem; 
}

#imageP::file-selector-button , button{
        cursor: pointer;
}

#dataN {
    cursor: text;
}

button {
    font-size: 15px;
    color: white;
    background-color: #125db3;
} 

